[project]
name = "opad"
version = "0.1.0"
description = "opad using crewAI"
authors = [{ name = "Your Name", email = "you@example.com" }]
requires-python = ">=3.10,<3.14"
dependencies = [
    "crewai[tools]==1.7.2"
]

[tool.setuptools]
packages = ["opad"]

[tool.setuptools.package-dir]
"" = "src"

[project.scripts]
opad = "opad.main:run"
run_crew = "opad.main:run"
train = "opad.main:train"
replay = "opad.main:replay"
test = "opad.main:test"
run_with_trigger = "opad.main:run_with_trigger"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.crewai]
type = "crew"
