@tailwind base;
@tailwind components;
@tailwind utilities;

.vocab-word {
  @apply text-blue-600 cursor-pointer hover:bg-yellow-200;
  text-decoration: none !important;
}

.word-definition {
  @apply p-2 bg-gray-100 border-l-4 border-blue-500 rounded;
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}

